@font-face {
  font-family: "Righteous";
  src: url(Righteous-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Arcade";
  src: url(ARCADECLASSIC.ttf) format("truetype");
}

body {
  background-color: #f5ac03;
  color:#fafdc8;
}

h1 {
  text-align: center;
  font-family: "Righteous";
  font-size: 120px;
  margin-bottom: 15px;
}

h2 {
  text-align: center;
  font-family: "Righteous";
  font-size: 40px;
  margin-bottom: 5px;
  margin-top: 80px;
}

.timer {
  font-family: "Arcade";
  font-size: 40px;
  outline: #fafdc8 solid 10px;
  width: 12%;
  margin: 2%;
}

.points {
  font-family: "Arcade";
  font-size: 40px;
  outline: #fafdc8 solid 10px;
  width: 12%;
  margin: 2%;
}

.headerSection {
  text-align: center;
  display: flex;
  justify-content: center;
}

.answers {
  font-family: "Righteous";
  font-size: 20px;
  margin: 0px;
}

section, #answerBtn {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* https://www.htmlcssbuttongenerator.com/css-button-generator.html */
button {
  font-family: Roboto, sans-serif;
  font-weight: 0;
  font-size: 30px;
  font-family: "Righteous";
  color: #f5ac03;
  background-color: #fafdc8;
  padding: 10px 30px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 50px;
  transition : 1000ms;
  transform: translateY(0);
  margin: 20px;
  }

  button:hover{
  transition : 1000ms;
  padding: 10px 50px;
  transform : translateY(-0px);
  background-color: ##fafdc8;
  color: #000000;
  border: none;
  }

#userInput {
  display: none;
  text-align: center;
  font-family: Righteous;
  font-size: 40px;
}

input {
  border-radius: 50px;
  padding: 20px;
  height: 36px;
  background-color: #fafdc8;
  color: #f5ac03;
  outline: none;
  border: none;
  font-size: 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

#game {
  display: block;
}